@charset "utf-8";
/*----------------样式初始化-------------------*/
body,
ul,
ol,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
span,
a {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  cursor: default;
  background: #fff;
  color: black;
  font-size: 14px;
  margin: 0px;
  font-family: '微软雅黑',tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
ul {
  list-style-type: none;
}
select,
input,
img,
select {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input,
button,
select,
textarea {
  outline: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clear {
  clear: both;
}
/*----------------base-------------------*/
html {
  font-size: 16px;
}
body {
  font-size: 28px;
  background-color: #f1f1f1;
}
.flexbox {
  display: -moz-box;
  /* Firefox */
  display: -webkit-box;
  /* Safari and Chrome */
  display: box;
  text-align: center;
}
.header,
.footer,
.nav,
.wrap-page {
  position: absolute;
  left: 0;
  right: 0;
}
.header,
.nav {
  background-color: #999;
  height: 5.5rem;
  text-align: center;
  line-height: 5.5rem;
  z-index: 900;
}
.header {
  top: 0;
  background-color: #575757;
  color: #ffffff;
}
.header h1 {
  font-size: 30px;
}
.header span {
  position: absolute;
  font-size: 36px;
  display: inline-block;
  width: 5.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  text-align: center;
  top: 0;
  right: 0;
}
.footer {
  bottom: 0;
  height: 6.125rem;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 20px 8px rgba(162, 162, 162, 0.263);
}
.footer a {
  display: block;
  -moz-box-flex: 1.0;
  /* Firefox */
  -webkit-box-flex: 1.0;
  /* Safari and Chrome */
  box-flex: 1.0;
}
.footer span:before {
  font-size: 30px;
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 2.75rem;
  background-color: #acacac;
  border-radius: 50%;
  margin: 0.625rem 0;
}
.footer p {
  font-size: 18px;
}
.nav {
  top: 5.5rem;
  background-color: #f1f1f1;
  color: #575757;
  font-size: 28px;
}
.nav li {
  display: block;
  -moz-box-flex: 1.0;
  /* Firefox */
  -webkit-box-flex: 1.0;
  /* Safari and Chrome */
  box-flex: 1.0;
}
.nav a {
  display: inline-block;
  height: 4.75rem;
  line-height: 4.75rem;
  padding: 0 6px;
}
.nav .current {
  border-bottom: 0.375rem solid #575757;
}
.wrap-page {
  top: 11rem;
  bottom: 5.5rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.wrap-page-l {
  top: 44px;
}
.ad {
  height: 200px;
  wight: 100%;
  background-color: #666;
}
.list-nav {
  wight: 100%;
  height: 44px;
  text-align: center;
}
.section {
  wight: 100%;
  height: 300px;
  margin: 20px;
  background-color: #fff;
}
.section .avatar {
  float: left;
  height: 100%;
  wight: 20%;
}
.section .detail {
  float: right;
  height: 100%;
  wight: 80%;
}
.section .detail .title {
  background-color: #666;
}
.section .detail .date {
  background-color: #333;
}
.section .detail .summary {
  background-color: #999;
}
.section .detail .comment {
  background-color: #666;
}
/*----------------活动-喧喧-------------------*/
.add-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 5.5rem;
  bottom: 5.5rem;
  overflow-y: auto;
  background-color: #f1f1f1;
  padding: 0.9375rem 1.25rem;
}
.add-container .group {
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  margin-bottom: 0.9375rem ;
  color: #b4b4b4;
}
.add-container .row {
  position: relative;
  width: 100%;
  height: 5.625rem;
  border-bottom: 1px solid #c4c4c4;
}
.add-container .row h3 {
  display: inline-block;
  line-height: 5.625rem;
  padding: 0 2.1875rem;
}
.add-container .row .h3_row {
  display: block;
}
.add-container .row input {
  position: absolute;
  right: 0;
  width: 25.875rem;
  border: none;
  font-size: 28px;
  height: 5.5rem;
  line-height: 5.5rem;
}
.add-container .row input.short {
  width: 20.875rem;
}
.add-container .row textarea {
  width: 100%;
  height: 11.25rem;
  font-size: 28px;
  padding: 0 2.1875rem;
  border: none;
  resize: none;
  box-sizing: border-box;
}
.add-container .row.long_row {
  height: 16.875rem;
}
.add-container .row.tag_row {
  height: 10.625rem;
}
.add-container .row.tag_row .tags {
  top: 0.875rem;
  left: 8rem;
  position: absolute;
}
.add-container .row.tag_row span {
  display: inline-block;
  position: relative;
  width: 11.25rem;
  height: 3rem;
  margin: 0.4rem 1rem;
  background-color: #dfdfdf;
}
.add-container .row.tag_row span:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 1rem solid;
  border-color: #b4b4b4 #b4b4b4 transparent transparent;
}
.add-container .row.tag_row span:after {
  display: block;
  content: "Hot";
  font-size: 0.75rem;
  color: #ffffff;
  position: absolute;
  top: 0.1rem;
  right: 0;
}
.add-container .row.xuan_row {
  height: 28.125rem;
}
.add-container .row.img_row {
  height: 10.625rem;
}
.add-container .row.img_row .imgs {
  top: 1.875rem;
  left: 8rem;
  position: absolute;
}
.add-container .row.img_row img {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 1.6875rem;
  vertical-align: top;
}
.add-container .row.img_row a {
  display: inline-block;
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  background-color: #b4b4b4;
}
.add-container .row.img_row a:after {
  content: "添加图片";
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  bottom: 0.75rem;
  left: 1.5rem;
}
.add-container .row.last_row {
  border-bottom: none;
}
